.landingPage{text-align: center;
background-image:url("../Images/h_img.jpg");
background-position: center;
background-size: cover;
padding-top: 27%;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.introduction{padding-bottom: 400px;
text-decoration: aqua;
color: ghostwhite;}
#logoimage{margin-top: 5px;
    margin-bottom:40px;
    width: 100px;
    height: 100px;}
 .AboutUs{font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        text-align: center;
        padding-bottom: 1px;
        padding-top: 1px;}
.Services{background-image: url("../Images/landing.png");
padding-top:40px;

background-position: center;
background-size: cover;
text-align: center;
color: coral;
text-decoration: double
;font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
}
